@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacques+Francois&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lilita+One&display=swap");

@font-face {
  font-family: "Lucida Calligraphy";
  src: url("fonts/Lucida-Calligraphy.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f0ece0;
}

header {
  width: 100%;
  height: 10vh;
  padding-top: 1rem;
}

nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

img.logo {
  aspect-ratio: 1/1;
  width: 5rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #353148;
  font-family: Inter;
  transition: color 0.3s ease;
}

.nav-item:nth-child(1) .nav-link:hover {
  color: #9cc04a; 
}

.nav-item:nth-child(2) .nav-link:hover {
  color: #ee4d87; 
}

.nav-item:nth-child(3) .nav-link:hover {
  color: #9cc04a; 
}

.nav-item:nth-child(4) .nav-link:hover {
  color: #ee4d87; 
}

main.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.home-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

div.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.home-info h1 {
  font-family: "Jacques Francois";
  font-size: 5rem;
  font-weight: 200;
  color: #353148;
  text-align: center;
  padding: 0 0.5rem;
}
.home-info h2 {
  font-family: "Lucida Calligraphy";
  font-weight: 200;
  font-size: 4rem;
  color: #353148;
  text-align: center;
  padding: 0 0.5rem;
}
.home-info h2 span {
  color: #ee4d87;
}

.home-info p {
  font-family: "Josefin Slab";
  font-size: 2rem;
  font-weight: 500;
  color: #353148;
  text-align: center;
  padding: 0 0.5rem;
}

.home-info a {
  font-family: "Lilita One";
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #ee4d87;
  border: none;
  color: #f0ece0;
  padding: 10px 25px;
  border-radius: 999px;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
}
.wrap:hover {
  color: #262626 ;
  background: #9cc04a;
  /* border-color: #ee4d87; */
  transition: all 0.4s ease 0s;
  }

.myimg {
  width: 350px;
  height: 350px;
  display: grid;
  

  --border-size: 0.4rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #ee4d87 0deg 120deg,
      #353148 120deg 240deg,
      #9cc04a 240deg 360deg
    )
    1 stretch;
  
}

@property --opacity {
  syntax: "<number>";
  initial-value: 0.5;
  inherits: false;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes opacityChange {
  to {
    --opacity: 1;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.myimg {
  animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
}



section.achievements-container {
  min-height: 100vh;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  margin-top: 10rem;
  text-align: center;
}

section.achievements-container h1 {
  font-family: "Jacques Francois";
  font-size: 3rem;
  font-weight: 300;
  color: #353148;
}

div.card-container {
  display: flex;
  align-items: start;
  column-gap: 3rem;
}

div.card {
  width: 22rem;
  aspect-ratio: 0.98;
  background-color: #f5f5f5;
  border-radius: 2.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: 1s box-shadow;
  padding-top: 1rem;
  position: relative;
}
div.card:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

div.card:hover::before,
div.card:hover::after {
  display: block;
  content: "";
  position: absolute;
  aspect-ratio: 0.98;
  width: 22rem;
  background: #ee4d87;
  border-radius: 2rem;
  z-index: -1;
  animation: 1s clockwise infinite;
}

div.card:hover:after {
  background: #353148;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}

div.card img {
  aspect-ratio: 1;
  width: 8rem;
  border-radius: 500px;
}
div.card h2 {
  color: #192733;
  font-family: "Source Sans 3";
  font-weight: 400;
  /* #b6c7d6 */
}

div.card h4 {
  color: #a5a5a5;
  font-family: "Noto Sans";
  font-weight: 200;
  text-justify: inter-word;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: -1rem;
}
div.card a {
  font-family: "Source Sans 3";
  font-size: 1rem;
  font-weight: 400;
  background-color: #353148;
  border: none;
  color: #f0ece0;
  padding: 5px 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
}

section.about-container {
  min-height: 100vh;
  width: 100vw;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  margin-top: 10rem;
  text-align: center;
}
section.about-container h1 {
  font-family: "Jacques Francois";
  font-size: 3rem;
  font-weight: 300;
  color: #353148;
}
div.bigcard-container {
  display: flex;
  align-items: start;
  color: snow;
  width: 100%;
}
div.about-card {
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: flex;
  justify-content: start;
  padding-top: 2rem;
  padding-left: 1rem;
  flex-direction: column;
}
div.about-card h2 {
  color: #ee4d87;
  font-family: Inter;
  font-weight: 400;
  padding-left: 0.002rem;
  padding-top: 0.1rem;
 

}
div.about-card h4 {
  color: #f0ece0;
  font-family: Inter;
  font-weight: 250;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 1rem;
  text-align: justify;
}
div.about-card h3 {
  color: #9cc04a;
  padding-top: 0.2rem;
  font-weight: 200;
  font-family: "Source Sans 3";
  font-size: 1.5rem;
  text-justify: left;
}

div.column-one {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
div.column-two {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.row:after {
  content: "";
  display: table;
  clear: none;
}
.coding-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 0.3rem;
}
.coding-icons img {
  padding-top: 0.9rem;
  transition: transform 0.3s;
}
.coding-icons img:hover {
  transform: scale(1.2);
}




div.about-card h5 {
  color: #b6c7d6;
  font-family: "Jacques Francois";
  font-weight: 100;
  padding-top: 1.2rem;
  padding-left: 5rem;
  text-align: justify;
}



@media (max-width: 795px) {
  section.home-container {
    flex-direction: column;
    margin-top: 2rem;
  }
}

@media (max-width: 555px) {
  nav.nav {
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  header {
    padding-top: 2rem;
  }

  img.logo {
    display: none;
  }

  nav.nav {
    justify-content: center;
  }

  .nav-container {
    gap: 1rem;
  }
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


section.project-container {
  min-height: 100vh;
  width: 100vw;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  margin-top: 10rem;
  text-align: center;
}

section.project-container h1 {
  font-family: "Jacques Francois";
  font-size: 3rem;
  font-weight: 300;
  color: #353148;
}

div.cards {
  width: 370px;
  background-color: #ee4d87;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.5s;
}
div.cards a {
  color: inherit;
  text-decoration: none;
}

div.cards:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.cards__thumb {
  height: 245px;
  overflow: hidden;
  background-color: #262626;
  
  transition: height 0.5s;
}
.cards__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
 
  transform: scale(1);

  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.cards:hover .cards__thumb {
  height: 130px;
}

.cards:hover .cards__thumb img {
  opacity: 0.6;
 
  transform: scale(1.2);
}

div.cards__body {
  position: relative;
  height: 185px;
  padding: 20px;
  transition: height 0.5s;
}

.cards:hover .cards__body {
  height: 300px;
}

.cards__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: #9cc04a;
  color: #413d53;
  font-size: 14px;
  line-height: 25px;
}

.cards__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #262626;
  font-size: 18px;
  font-weight: 130px;
  text-transform: uppercase;
  font-family: "Jacques Francois";
}

.cards__subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  color: #f0ece0;
}

.cards__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 56px;
  margin: 0;
  padding: 0;
  color: #262626;
  line-height: 27px;
  opacity: 0;
  
  transform: translateY(45px);
  
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
 
  transition-delay: 0s;
}

.cards:hover .cards__description {
  opacity: 1;
  
  transform: translateY(0px);
 
  transition-delay: 0.2s;
}
div.small-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}
footer{
  background-color: #262626;
  min-height: 10rem;
  width: 100vw;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-top: 10rem;
  text-align: center;
  color: #f0ece0;
  font-size: larger;
  position: relative;
}
div.footer-container {
display: contents;
flex-direction: column;
position: relative;
}
div.footer-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.footer-container ul li {
  padding-top: 3rem;
  list-style: none;
  margin: 0 15px;
}

div.footer-container ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

div.footer-container ul li a::before {
  content: '';
  width: 100vw;
  height: 100%;
  border-radius: 50%;
  background: #ee4d87;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

div.footer-container ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ee4d87;
}

div.footer-container ul li a:hover {
  color: #ee4d87;
  box-shadow: 0 0 5px #ee4d87;
  text-shadow: 0 0 5px #ee4d87;
}