@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacques+Francois&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lilita+One&display=swap");

@font-face {
  font-family: "Lucida Calligraphy";
  src: url("fonts/Lucida-Calligraphy.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #f0ece0;
}

header {
  width: 100%;
  height: 10vh;
  padding-top: 1rem;
}

nav.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

img.logo {
  aspect-ratio: 1/1;
  width: 5rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-item > a {
  text-decoration: none;
  font-family: Inter;
  color: #353148;
}

.nav-item > a:hover {
  color: #ee4d87;
}

main.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.home-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

div.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.home-info h1 {
  font-family: "Jacques Francois";
  font-size: 5rem;
  font-weight: 300;
  color: #353148;
  text-align: center;
  padding: 0 0.5rem;
}

.home-info h2 {
  font-family: "Lucida Calligraphy";
  font-weight: 300;
  font-size: 4rem;
  color: #353148;
  text-align: center;
  padding: 0 0.5rem;
}

.home-info h2 span {
  color: #ee4d87;
}

.home-info p {
  font-family: "Josefin Slab";
  font-size: 3rem;
  font-weight: 400;
  color: #353148;
  text-align: center;
  padding: 0 0.5rem;
}

.home-info button {
  font-family: "Lilita One";
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #ee4d87;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 999px;
  cursor: pointer;
  margin-top: 0.5rem;
}

@media (max-width: 795px) {
  section.home-container {
    flex-direction: column;
    margin-top: 2rem;
  }
}

@media (max-width: 555px) {
  nav.nav {
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  header {
    padding-top: 2rem;
  }
  img.logo {
    display: none;
  }
  nav.nav {
    justify-content: center;
  }
  .nav-container {
    gap: 1rem;
  }
}
